RewriteEngine on
RewriteCond $1 !^(index\.php|upload|css|js|img|yuimenu|includes|robots\.txt)
RewriteRule ^(.*)$ /GSO/app/index.php/$1 [L]
#RewriteRule ^(.*)$ /app/index.php/$1 [L] -- ruta  produccion

