body { 
    background: url('/img/avion3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}
.col-md-offset-7 {            
    margin-left:32.333333% !important;
}
.form-group {
    margin-bottom: 40px !important;        
}
hr {
    border:none !important;
}
.fila {
    float:left;
    width:100%;

}