/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc !important;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    /*color: #034af3;*/
    font-size:12px;
}

a:hover
{
    /*color: #1d60ff;
    text-decoration: none;*/
}

a:active
{
    /*color: #034af3;*/
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    /*font-variant: small-caps;*/
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight:bold;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
   
}

h3
{
    font-size: 1.2em;
     font-weight:bold;
}

h4
{
    font-size: 1.1em;
     font-weight:bold;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    max-width: 1024px;
    background-color: #FFF;
    margin: 0px auto 0px auto;
    /*border: 1px solid #496077;   */
    padding: 0px 0px 25px 0px;
}
.backred {
    background-color: #dedede;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    top:0;
}
.header
{
    top:0px;
    position: relative;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    /*background: #465c71;*/
    background: url('../img/banner.jpg');
    width: 100%;
    left: 1px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 0em;
    font-size: 2em;
}

.main
{
    padding: 1px 12px;
    /*margin: 12px 8px 8px 8px;*/
    min-height: 480px;
    box-sizing:border-box ;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #FFF;
    padding: 10px 0;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    background-color:#333;
    bottom:0;
    width:100%;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#465c71;
    width:100%;
     padding: 0px 0px 0px 0px;
}

div.menu
{
    padding: 0px 0px 0px 0px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    height:75px;
    width: auto;
    padding: 0px 0px 0px 0px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.div_login 
{
    width: 26%;
    vertical-align: central;
    display: block;
    margin: 20% auto 0 auto;
    /*padding: 15% 35% 0 35%;
*/

}

.area_buscador {
    max-width: 900px; 
    margin: 0 auto; 
    text-align: left;
    /*height: 109px;*/
}

.area_resultado {
    max-width: 900px; 
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.area_width{
    max-width:500px !important;
}



.boton{
            background: #d10101;
            display: inline-block;
            /*float: right;*/
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            border: #B00;
            color: #fff;
            cursor: pointer;
            line-height: normal;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(0,0,0,.29);
            /*margin: 0 auto 5px 20px;
            padding: 3px 10px;*/
            font-family: "Open Sans",Helvetica,Arial,sans-serif;
            font-size: 1.1em;
    margin-left: 0px;
}

/*ESTILOS CHART NESTOR*/
svg text#LegendText {
    display:none;
}
svg g text#LegendText {
    display:block;
}
/*FIN ESTILOS CHART NESTOR*/
/*INICIO ESTILO <a>*/
.a_nes {
    color:#696969;
    text-decoration:none;
    font-size:1em !important;
    font-family:"Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
}

/*FIN ESTILO <a>*/
/*INICIO MODIFICAR ESTILO CABECERA*/
.menu{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.menu ul li a:link, div ul li a:visited {
    display: block;
    background-color: #f1f1f1;color:#000;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-bottom: 1px solid #fff;
    width: 150px;
}
.menu ul li a:hover{
    background-color: #ccc;
}
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu ul li {
    float: left;
    margin-left: 5px;
}

/*FIN ESTILO CABECERA*/


.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color:#000 !important;
}
.rigth{
    text-align:right !important;
}
.middle{
    vertical-align:middle !important;
}
.wizard{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.wizard-list{
	list-style: none;
}
.wizard-list > li{
	position: relative;
	display: inline-block;
	height: 60px;
	line-height: 40px;
	padding: 0 0px;
	/*min-width: 180px;*/
	background: #f7f5f1;
	padding-top: 20px;
	text-align: center;
}

.wizard-list > li:nth-of-type(1){
    padding-top: 5px;
    vertical-align:bottom;
    color: #999;
    font-weight: 900;
}

.wizard-list > li:nth-of-type(2){
    padding-top: 5px;
    vertical-align:bottom;
    color: #999;
    font-weight: 900;
}


.wizard-list > li:first-child{
	font-weight: 900;
}


.wizard-list > li.active{
    color:#c6000f;
    font-weight: 700;
}

.wizard-list > li.active a{
    color:#c6000f;
}

.wizard-list > li a{
    color:#999;   
}

.wizard-list > li a:hover{
    color:#c6000f;
}

.wizard-list > li > div.icon{
    background: #999;
    height: 8px;
    position: relative;
}

.wizard-list > li.active > div.icon{
    background-color: #c6000f;
}

.wizard-list > li > div.icon a{
    color: white;   
}

.wizard-list > li.active span{
    background-color: #c6000f;
}

.wizard-list > li  span{
	display: block;
	color:#fff;
	background: #999;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
	line-height: 20px;
	text-align: center;
	margin-right: 15px;
	font-size: 10px;
	position: absolute;
	top: -5px;
	left: 45%;
	
}
.wizard-list > li:last-child:before,
.wizard-list > li:last-child:after{
	border:0;
}
.wizard-list > li.disable{
	color:#999;
	cursor: default;
}
.wizard-list > li.disable > span{
	background:#999;
}