BODY {
	BACKGROUND: #fff; COLOR: #000
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
abbr {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
BODY {
	FONT: small/1.22 arial,helvetica,clean,sans-serif
}
TABLE {
	
}
PRE {
	FONT-SIZE: 108%; LINE-HEIGHT: 99%; FONT-FAMILY: monospace
}
CODE {
	FONT-SIZE: 108%; LINE-HEIGHT: 99%; FONT-FAMILY: monospace
}
KBD {
	FONT-SIZE: 108%; LINE-HEIGHT: 99%; FONT-FAMILY: monospace
}
SAMP {
	FONT-SIZE: 108%; LINE-HEIGHT: 99%; FONT-FAMILY: monospace
}
TT {
	FONT-SIZE: 108%; LINE-HEIGHT: 99%; FONT-FAMILY: monospace
}
BODY {
	TEXT-ALIGN: center
}
#ft {
	CLEAR: both
}
#doc {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
#doc2 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
#doc3 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
#doc4 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t1 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t2 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t3 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t4 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t5 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t6 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
.yui-t7 {
	MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left; min-width: 750px
}
#doc2 {
	WIDTH: 71.31em
}
#doc3 {
	MARGIN: auto 10px; WIDTH: auto
}
#doc4 {
	WIDTH: 73.11em
}
.yui-b {
	POSITION: relative
}
.yui-b {
	POSITION: static
}
#yui-main .yui-b {
	POSITION: static
}
#yui-main {
	WIDTH: 100%
}
.yui-t1 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t2 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t3 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t4 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t5 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t6 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t1 .yui-b {
	FLOAT: left; WIDTH: 12.01em
}
.yui-t1 #yui-main .yui-b {
	MARGIN-LEFT: 13.01em
}
.yui-t2 .yui-b {
	FLOAT: left; WIDTH: 13.51em
}
.yui-t2 #yui-main .yui-b {
	MARGIN-LEFT: 14.51em
}
.yui-t3 .yui-b {
	FLOAT: left; WIDTH: 22.52em
}
.yui-t3 #yui-main .yui-b {
	MARGIN-LEFT: 23.52em
}
.yui-t4 .yui-b {
	FLOAT: right; WIDTH: 13.51em
}
.yui-t4 #yui-main .yui-b {
	MARGIN-RIGHT: 14.51em
}
.yui-t5 .yui-b {
	FLOAT: right; WIDTH: 18.01em
}
.yui-t5 #yui-main .yui-b {
	MARGIN-RIGHT: 19.01em
}
.yui-t6 .yui-b {
	FLOAT: right; WIDTH: 22.52em
}
.yui-t6 #yui-main .yui-b {
	MARGIN-RIGHT: 23.52em
}
.yui-t7 #yui-main .yui-b {
	DISPLAY: block; MARGIN: 0px 0px 1em
}
#yui-main .yui-b {
	FLOAT: none; WIDTH: auto
}
.yui-gb .yui-g {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-gb {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-u {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-g .yui-gb .yui-u {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-gc {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-gd {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-ge {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-gf {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gc .yui-u {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gc .yui-g {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gd .yui-u {
	FLOAT: left; MARGIN-LEFT: 2%; WIDTH: 32%
}
.yui-gb .yui-gb .yui-u {
	MARGIN-LEFT: 1.7%
}
.yui-gb .yui-gc .yui-u {
	MARGIN-LEFT: 1.7%
}
.yui-g .yui-gb .yui-u {
	MARGIN-LEFT: 0.8%
}
.yui-gb .yui-u {
	FLOAT: right; MARGIN-LEFT: 2%; WIDTH: 31.8%
}
.yui-gb DIV.first {
	FLOAT: left; MARGIN-LEFT: 0px; MARGIN-RIGHT: 1px
}
.yui-gb .yui-gb DIV.first {
	WIDTH: 31.7%; MARGIN-RIGHT: 0px
}
.yui-gb .yui-gc DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-gb .yui-gd DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-g .yui-gc DIV.first {
	FLOAT: left
}
.yui-g .yui-ge DIV.first {
	FLOAT: left
}
.yui-gb .yui-gd .yui-u {
	WIDTH: 61.2%
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 29.5%
}
.yui-gb .yui-gc .yui-u {
	FLOAT: right; WIDTH: 29.9%
}
.yui-g .yui-gc .yui-u {
	FLOAT: right; WIDTH: 29.9%
}
.yui-gb .yui-gc DIV.first {
	FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 64.5%
}
.yui-gb .yui-ge .yui-u {
	MARGIN: 0px
}
.yui-gb .yui-gf .yui-u {
	MARGIN: 0px
}
.yui-g .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-g {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-gb {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-gc {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-gd {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-ge {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-gf {
	DISPLAY: inline; FLOAT: right
}
.yui-gc .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-gd .yui-g {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-gc .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-ge .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-ge .yui-g {
	DISPLAY: inline; FLOAT: right
}
.yui-gf .yui-g {
	DISPLAY: inline; FLOAT: right
}
.yui-gf .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-g DIV.first {
	FLOAT: left
}
.yui-g DIV.first {
	FLOAT: left
}
.yui-gc DIV.first {
	FLOAT: left
}
.yui-gc DIV.first DIV.first {
	FLOAT: left
}
.yui-gd DIV.first {
	FLOAT: left
}
.yui-ge DIV.first {
	FLOAT: left
}
.yui-gf DIV.first {
	FLOAT: left
}
.yui-g .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-gb .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-gc .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-gd .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-ge .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-gf .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-g .yui-g DIV.first {
	MARGIN: 0px
}
.yui-gb .yui-g DIV.first {
	MARGIN-RIGHT: 1px
}
.yui-gb .yui-gb .yui-u {
	MARGIN-LEFT: 0.7%
}
.yui-gb .yui-g DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-gd .yui-g .yui-u {
	MARGIN-LEFT: 0px; WIDTH: 48.1%
}
.yui-g .yui-u {
	WIDTH: 49.1%
}
.yui-g .yui-g {
	WIDTH: 49.1%
}
.yui-g .yui-gb {
	WIDTH: 49.1%
}
.yui-g .yui-gc {
	WIDTH: 49.1%
}
.yui-g .yui-gd {
	WIDTH: 49.1%
}
.yui-g .yui-ge {
	WIDTH: 49.1%
}
.yui-g .yui-gf {
	WIDTH: 49.1%
}
.yui-g .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gd DIV.first {
	MARGIN-LEFT: 0px
}
.yui-g .yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gd .yui-g {
	WIDTH: 66%
}
.yui-gd .yui-u {
	WIDTH: 66%
}
.yui-gd DIV.first {
	WIDTH: 32%
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 32%
}
.yui-g .yui-gd DIV.first {
	WIDTH: 29.9%
}
.yui-ge .yui-u {
	WIDTH: 24%
}
.yui-ge .yui-g {
	WIDTH: 24%
}
.yui-gf DIV.first {
	WIDTH: 24%
}
.yui-ge DIV.first {
	WIDTH: 74.2%
}
.yui-gf .yui-g {
	WIDTH: 74.2%
}
.yui-gf .yui-u {
	WIDTH: 74.2%
}
.yui-gb .yui-ge .yui-u {
	WIDTH: 20%
}
.yui-gb .yui-gf DIV.first {
	WIDTH: 20%
}
.yui-gb .yui-ge DIV.first {
	WIDTH: 65.5%
}
.yui-gb .yui-gf .yui-u {
	WIDTH: 65.5%
}
#bd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-g:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gb:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gc:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-ge:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gf:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#bd {
	ZOOM: 1
}
.yui-g {
	ZOOM: 1
}
.yui-gb {
	ZOOM: 1
}
.yui-gc {
	ZOOM: 1
}
.yui-gd {
	ZOOM: 1
}
.yui-ge {
	ZOOM: 1
}
.yui-gf {
	ZOOM: 1
}
