/**
 * Default Look and Feel
 */

h1{
	 font-family: Century gothic !important;font-weight: normal;
}

.alertify,
.alertify-log {
	font-family: Century gothic;
	font-size: 16px
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 4px;
	}
	.alertify-button {
		border-radius: 4px;
		color: #FFF;
		font-weight: normal;
		padding: 6px 15px;
		text-decoration: none;
	}
	.alertify-button:hover,
	.alertify-button:focus {
	}
	.alertify-button:focus {
		/*box-shadow: 0 0 15px #2B72D5;*/
	}
	.alertify-button:active {
		position: relative;
	}
		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {
			background-color: #F9902F;
		}
		.alertify-button-ok,
		.alertify-button-ok:hover,
		.alertify-button-ok:focus {
			background-color: #CCCCCC;	
		}

.alertify-log {
	background-color: #F9902F;
	/*background: rgba(92,184,17,.9);*/
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	font-weight:normal; 
	cursor: pointer;
	font-size: 12px
}
	.alertify-log-error {
		/*background-color: #F9902F;*/
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background-color: #333333;
		/*background: rgba(92,184,17,.9);*/
		font-size: 12px;
	}