#Funcion para recibir y enviar POST de diferentes servidores.
<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>

#Se pone una ruta base.
RewriteEngine On
RewriteBase /STD/

rewriteCond %{REQUEST_FILENAME} !^(.+)\.css$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.png$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.jpg$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.js$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.gif$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.ttf$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.otf$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.woff$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.eot$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.svg$
rewriteCond %{REQUEST_FILENAME} !^(.+)\.woff2$
rewriteCond %{REQUEST_FILENAME} !^(.+)\Files\^(.+)$

#Reglas que indica: ^([a-zA-Z0-9_-]+) es la primera variables despues de la ruta base, (.+)$ es la segunda variable despues de "/".
RewriteRule ^([a-zA-Z0-9_-]+)/(.+)$ index.php?lan=$1&url=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?lan=$1&url=index  [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?lan=$1&url=index  [QSA,L]